<h1 class="text-center">Product Details</h1>
<div class="d-flex justify-content-center">
  <div class="row">
    <div class="col">
      <form [formGroup]="addProductForm">
        <div class="row p-2">
          <div class="col-3">
            <label for="name">Name</label>
          </div>
          <div class="col-9">
            <input type="text" class="form-control" name="name" id="name" formControlName="name" placeholder="Name"/>
          </div>
        </div>
        <div class="row p-2">
          <div class="col-3">
            <label for="seller">Seller</label>
          </div>
          <div class="col-9">
            <input type="text" class="form-control" name="seller" id="seller" formControlName="seller" placeholder="Seller"/>
          </div>
        </div>
        <div class="row p-2">
          <div class="col-3">
            <label for="description">Description</label>
          </div>
          <div class="col-9">
            <input type="text" class="form-control" name="description" id="description" formControlName="description" placeholder="Description"/>
          </div>
        </div>
        <div class="row p-2">
          <div class="col-3">
            <label for="price">Price</label>
          </div>
          <div class="col-9">
            <input type="number" class="form-control" name="price" id="price" formControlName="price" placeholder="Price"/>
          </div>
        </div>
        <div class="row p-2 text-center" *ngIf="!selectedProduct">
          <div class="col-6">
            <button type="submit" class="btn btn-primary mb-3" (click)="addProduct()">Add Product</button>
          </div>
          <div class="col-6">
            <button type="submit" class="btn btn-danger mb-3" (click)="cancel()">Cancel</button>
          </div>
        </div>
        <div class="row p-2 text-center" *ngIf="selectedProduct">
          <div class="col-6">
            <button type="submit" class="btn btn-primary mb-3" (click)="updateProduct()">Edit Product</button>
          </div>
          <div class="col-6">
            <button type="submit" class="btn btn-danger mb-3" (click)="cancel()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
