<nav class="navbar navbar-light bg-light">
  <p class="h2 text-center mb-2" *ngIf="authenticatedUser !== null">Welcome <em><u>{{authenticatedUser.username}}</u></em>!</p>
  <p class="h2 text-center mb-2" *ngIf="authenticatedUser === null">Welcome to MashiCare!</p>
  <form class="form-inline d-flex" (ngSubmit)="doSearch()">
    <input class="form-control mx-2" type="search" placeholder="Search for a product"
           name="search" [(ngModel)]="searchTerm" aria-label="Search" (search)="doSearch()">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</nav>
